<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="sidenavOpened"
    (openedChange)="onSidenavToggle($event)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSidenav(drawer)">
        <mat-icon aria-label="Side nav toggle icon">{{ sidenavOpened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span>ProdMan</span>
      <span class="spacer"></span>
      <span *ngIf="user" class="user-info">{{ user.name }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main class="content">
      <!-- Dashboard content will go here -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

