.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: var(--mat-sys-surface-container-high);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.sidenav .mat-toolbar {
  background: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.mat-toolbar.mat-primary {
  background: var(--mat-sys-surface-container-high);
  border-bottom: 1px solid var(--mat-sys-outline-variant);
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  margin-right: 8px;
  font-size: 14px;
}

.content {
  padding: 16px;
  background-color: var(--mat-sys-surface);
}

mat-nav-list {
  padding: 8px;
}

mat-nav-list div[mat-list-item] {
  display: flex !important;
  align-items: center !important;
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container-low);
  border-radius: 8px;
  gap: 16px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

mat-nav-list div[mat-list-item]:hover {
  background-color: var(--mat-sys-outline-variant);
}